h1 {
	color: red;
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;
*/
	border: 5px solid purple;
}
li {
	color:green;
}
h4 {
	color: rgb(125,255,14);
}
/*h1 
{
	color: rgb(0,0,0);
	color: rgb(255,255,255);
	color: rgb(0,0,0);
	color: rgba(66,22,11,1);
	color: rgba(66,22,11,.5);
	color: #FFFFFF;
	color: #001122;
}*/
h4 {
	background: rgb(255,100,80);
}
body {
	background: pink;
	/*background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=350);
	background-repeat: no-repeat;
	background-size: cover;*/
}